* {
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.container {
  border: 1px solid #ccc;
  text-align: center;
  border-radius: 20%; /* Rende solo il contenitore esterno ovale */
  overflow: hidden; /* Assicura che il contenuto non esca dall'ovale */
  max-width: 200px; /* Imposta la larghezza massima */
  width: 100%; /* Fai in modo che il contenitore occupi tutto lo spazio disponibile */
  background-color: #fbf7e3;
  color: #612406;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain; /* Visualizza completamente l'immagine all'interno del contenitore */
}

.container h2 {
  margin: 0;
}

button {
  background-color: #f3df85;
  border: none;
  border-radius: 3px;
  color: #612406;
  padding: 1rem;
}

.navbar {
  background-color: #fbf7e3;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  max-width: 900px;
  border-radius: 20%;
}

.navbar-button {
  background-color: #f3df85;
  color: #612406;
  text-decoration: none;
  padding: 10px;
  margin: 0 5px;
  border-radius: 5px;
}

.navbar-button:hover {
  background-color: #555;
}

.navbar-button-central {
  font-weight: bold;
  font-size: 1.2em;
}

.article {
  display: flex;
  gap: 10px;
  color: #612406;
}
